.useContext_container{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.useContext_title{
    font-family: "inter", sans-serif;
    text-align: start;
    margin: 0px;
}

.useContext_p{
    font-family: "Roboto", sans-serif;
    text-align: start;
    width: 75%;
}